:root {
    --primary-color: rgb(0, 159, 255);
    --active-color: rgb(248 56 42);
    --background-color: #efefef;
    --white-color: #fff;
    --star-gold-color: #FFCE3D;
    --text-color:rgb(49,49,49);
}
